@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */


main {
  /* transition: all 0.3s; */
}

/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Removendo estilos padrões de lista */
  ul, ol {
    list-style: none;
  }
  
  /* Resetando estilos padrão de links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Garantindo que os inputs e botões não tenham estilos estranhos */
  button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    outline: none;
  }
  
  /* Ajustando imagens para serem responsivas */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Melhorando a acessibilidade para botões e links */
  button {
    cursor: pointer;
  }
  p {
    color: #202020;
  }
  
  /* Definindo uma base consistente para tipografia */
  body {

    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", serif;
    background-color:rgba(216, 216, 216, 0);
    
    
  background-image: url("/bg.png"), url("/Hero.svg");
  background-repeat: repeat, no-repeat;
  background-position: top center, top right; 
  
  }
  
  
  
